<!-- File Button --> 

<label class="label" for="<%- id %>"><%- label %></label>
<div class="file">
  <label class="file-label">
    <input class="file-input" type="file" name="<%- id %>" onChange="if (this.files.length > 0) document.getElementById('filename-<%- id %>').innerHTML = this.files[0].name;">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label" id="filename-<%- id %>">
        Choose a file…
      </span>
    </span>
  </label>
</div>