<p>
Adapted by Jefrey S. Santos (@<a href="https://github.com/jesobreira" target="_blank">jesobreira</a>) from Adam Moore (@<a href="http://twitter.com/minikomi" target="_blank">minikomi</a>)'s original work (<a href="minikomi.github.io/Bootstrap-Form-Builder/" target="_blank">Bootstrap Form Builder</a>) to help take the stress out of 
writing all that markup to get Bulma forms together.
</p>

<p>
If you have a problem, or want a specific snippet added please check out the 
<a href="https://github.com/jesobreira/Bulma-Form-Builder">github project</a>. Note, this is only a simple tool so I'm not 
that keen on adding many features (eg. saving/exporting forms, embedding forms etc.). 
</p>

<p>
  Adding snippets is quite simple now (due to the rewrite!) so please don't hesitate to open an issue!
</p>
